<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <i class="fa fa-medkit" aria-hidden="true"></i>
      <span class="has-text-weight-bold is-size-4 ml-4">PapaDoc BP</span>
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        
      </div>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <% if user_signed_in? %>
          <div class="button is-warning">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="button is-warning">
          <%= link_to "Log In", new_user_session_path %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
