<div class="container">

  <div class="backgroung_image1" style="float:left; width:50%;">
    <%= image_tag "bp.jpg" %>
  </div>

  <div class="background_image2" style="float:left; width:50%;">
    <%= image_tag "pulse2.jpeg" %>
  </div>
  <div class="background_image3" style="float:right; width:50%;">
    <%= image_tag "pulse.jpeg" %>
  </div>
</div>
