<div class="columns is-centered mt-6">
  <div class="column is-one-third">
    <h1 class="is-size-2 has-text-weight-bold mb-3">Register New Log</h1>

    <%= render 'form', log: @log %>

    <%= link_to 'View', @log %> |
    <%= link_to 'Back', logs_path %>
  </div>
</div>
